/* Default boilerplate */
html, body {
    margin: 0 25px ;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align: center;
}

.container{
    height: 200px;
}

/* buttons */

button{
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: large;
    border-color: transparent;
}

#btn-anim-1:hover{
    letter-spacing: 4px;
    border-color: transparent;
    background-color: violet;
    border: 1px solid grey;
}






